#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Edited on https://nickcoutsos.github.io/keymap-editor because you cannot convice me
// editing this on a text editor is better than the GUI, and Oh, I love Neovim trust me.

/ {
    keymap {
        compatible = "zmk,keymap";

        MAIN {
            bindings = <
&kp GRAVE   &kp N1  &kp N2    &kp N3  &kp N4    &kp N5       &kp N6     &kp N7         &kp N8     &kp N9      &kp N0         &kp MINUS   &kp EQUAL  &kp C_AL_MAIL
&kp TAB     &kp Q   &kp W     &kp E   &kp R     &kp T        &kp Y      &kp U          &kp I      &kp O       &kp P          &kp LBKT    &kp RBKT   &kp BACKSPACE
&kp ESC     &kp A   &kp S     &kp D   &kp F     &kp G        &kp H      &kp J          &kp K      &kp L       &kp SEMI       &kp DQT     &kp BSLH   &kp ENTER
&kp LSHIFT  &kp Z   &kp X     &kp C   &kp V     &kp B        &kp N      &kp M          &kp COMMA  &kp PERIOD  &kp SLASH      &kp RSHIFT  &kp DEL    &trans
&kp LCTRL   &tog 1  &kp LALT  &tog 2  &kp LWIN  &kp SPACE    &kp SPACE  &kp RIGHT_WIN  &tog 2     &tog 1      &kp RIGHT_ALT  &kp RCTRL   &kp CLCK   &tog 3
            >;
        };

        FUNCTIONS {
            bindings = <
&bt BT_NXT      &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &bt BT_CLR
&bt BT_CLR_ALL  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans   &trans   &trans   &trans
&trans          &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans   &trans   &trans   &trans
&trans          &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans   &trans   &trans   &trans
&trans          &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans   &trans   &trans   &trans
            >;
        };

        VIM-LIKE_ARROWS {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans          &trans        &trans           &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans          &trans        &trans           &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans          &trans        &trans           &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans          &trans        &trans           &trans  &trans  &trans  &trans
            >;
        };

        MULTIMEDIA-NUMPAD {
            bindings = <
&trans  &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_BRI_DEC  &kp C_BRIGHTNESS_INC    &kp C_PLAY_PAUSE  &kp C_STOP  &kp C_REWIND  &kp C_FAST_FORWARD  &trans     &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp KP_MINUS
&trans  &trans      &trans             &trans           &trans         &trans                  &trans            &trans      &trans        &trans              &kp KP_N7  &kp KP_N8      &kp KP_N9        &kp KP_PLUS
&trans  &trans      &trans             &trans           &trans         &trans                  &trans            &trans      &trans        &trans              &kp KP_N4  &kp KP_N5      &kp KP_N6        &kp KP_ENTER
&trans  &trans      &trans             &trans           &trans         &trans                  &trans            &trans      &trans        &trans              &kp KP_N1  &kp KP_N2      &kp KP_N2        &kp KP_ENTER
&trans  &trans      &trans             &trans           &trans         &trans                  &trans            &trans      &trans        &trans              &kp KP_N0  &kp KP_COMMA   &kp DEL          &trans
            >;
        };
    };
};
